{% extends "base.html" %}

{% block title %}Manage{% endblock %}

{% block content %}
<div class="topic shadow">
    <div class="title center-txt">Welcome to the Manage Page</div>
    <div class="description center-txt" id="tutorial-description">
        This is a defualt page used to manage the registered users and the data entered into the current database setup.
    </div>
</div>

<div class="info-table">
    <table class="shadow">
        <thead>
            <tr>
                <th class="left-txt">ID</th>
                <th class="left-txt">Name</th>
                <th class="left-txt">Email</th>
                <th class="left-txt">Password</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td class="info-cell">{{ user.id | escape }}</td>
                <td class="info-cell">{{ user.name | escape }}</td>
                <td class="info-cell">{{ user.email | escape }}</td>
                <td class="info-cell">{{ user.password | escape }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}