{% extends "base.html" %}

{% block title %}Add{% endblock %}

{% block content %}
<form class="record-form shadow" action="{{ url_for('manage.add_info') }}" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="form-topic">
        {{ form.name.label(class="title") }}

        {% if form.name.errors %}
            {{ form.name(class='error-element', placeholder="Name ...") }}
            <p class="error-message">{{ form.name.errors[0] }}</p>
        {% else %}
            {{ form.name(placeholder="Name ...") }}
        {% endif %}
    </div>
    <div class="form-topic">
        {{ form.date.label(class="title") }}

        {% if form.date.errors %}
            {{ form.date(class='error-element') }}
            <p class="error-message">{{ form.date.errors[0] }}</p>
        {% else %}
            {{ form.date }}
        {% endif %}
    </div>
    <div class="form-topic">
        {{ form.message.label(class="title") }}

        {% if form.message.errors %}
            <textarea class="error-element" id="message" name="message" placeholder="Message ..."></textarea>
            <p class="error-message">{{ form.mesaage.errors[0] }}</p>
        {% else %}
            <textarea id="message" name="message" placeholder="Message ..."></textarea>
        {% endif %}
    </div>
    <button class="link center" type="submit">Add Info</button>
</form>
{% endblock %}