{% extends "base.html" %}

{% block title %}Edit{% endblock %}

{% block content %}
<form class="record-form shadow" action="{{ url_for('manage.update_info', id=data.id) }}" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="form-topic">
        {{ form.name.label(class="title") }}

        {% if form.name.errors %}
            {{ form.name(class='error-element', value=data.name | escape) }}
            <p class="error-message">{{ form.name.errors[0] }}</p>
        {% else %}
            {{ form.name(value=data.name | escape) }}
        {% endif %}
    </div>
    <div class="form-topic">
        {{ form.date.label(class="title") }}

        {% if form.date.errors %}
            {{ form.date(class='error-element', value=data.date | escape) }}
            <p class="error-message">{{ form.date.errors[0] }}</p>
        {% else %}
            {{ form.date(value=data.date | escape) }}
        {% endif %}
    </div>
    <div class="form-topic">
        {{ form.message.label(class="title") }}

        {% if form.message.errors %}
            <textarea class="error-element" id="message" name="message">{{ data.message }}</textarea>
            <p class="error-message">{{ form.message.errors[0] }}</p>
        {% else %}
            <textarea id="message" name="message">{{ data.message }}</textarea>
        {% endif %}
    </div>
    <button class="link center" type="submit">Update Info</button>
</form>
{% endblock %}