{% extends "base.html" %}

{% block title %}Edit{% endblock %}

{% block content %}
<form class="record-form shadow" action="{{ url_for('auth.update_info', id=user.id) }}" method="post" enctype="multipart/form-data">
    <div class="form-topic">
        <label for="name" class="title">Username</label>
        <input id="name" name="name" rows="4" value="{{ user.name | escape }}">
    </div>
    <div class="form-topic">
        <label for="date" class="title">Email</label>
        <input id="email" name="email" rows="4" value="{{ user.email | escape }}">
    </div>
    <div class="form-topic">
        <label for="password" class="title">Password</label>
        <textarea id="password" name="password" rows="4">{{ user.password | escape }}</textarea>
    </div>
    <button class="link center" type="submit">Update User</button>
</form>
{% endblock %}