{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block content %}

<div class="topic">
    <div class="title">Welcome to the Home Page</div>
    <div class="description" id="tutorial-description">
        Add your main links and information to this page.
    </div>
</div>

<div class="topic">
    <div class="title">Users</div>
    <div class="description" id="tutorial-description">
        This is a defualt tile that you can change and add whatever you want. You can even create more topic containers.
    </div>
    <div class="link-list">
        <a class="link" href="{{  url_for('manage.index')  }}">User 1</a>
        <a class="link" href="{{  url_for('manage.index')  }}">User 2</a>
        <a class="link" href="#">General</a>
    </div>
</div>

{% endblock %}